@layout('layouts/master')

@section('content')
  <h1 class="not-found">
    Oops &mdash; Page Not Found. Please kindly go back to the
    <a class="redirect" href="/">Homepage</a>
  </h1>
@endsection

